<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jumpleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpleft.png</string>
            <key>size</key>
            <string>{186,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76242b97159111da57df902f7c6fcca2:67cf56e5c27227ed0e23397b3899c6cb:4e3c71fb3cbc4e61c1c72f70ac8245ee$</string>
            <key>textureFileName</key>
            <string>jumpleft.png</string>
        </dict>
    </dict>
</plist>
