<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jumpright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>jumpright4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpright.png</string>
            <key>size</key>
            <string>{186,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9748affbb001ae928cc7506549faadcf:16fdebe285493df59c32a4625b05fe35:7e5a686891be227773ddfce06635db8d$</string>
            <key>textureFileName</key>
            <string>jumpright.png</string>
        </dict>
    </dict>
</plist>
