<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walkleft.png</string>
            <key>size</key>
            <string>{150,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72a62889be6e0b232d87afb64196454:2a04bfb2e60a875314e6b2885f812c9e:e4626758dada381665e3fbe85c324cd5$</string>
            <key>textureFileName</key>
            <string>walkleft.png</string>
        </dict>
    </dict>
</plist>
