<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,24}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walking.png</string>
            <key>size</key>
            <string>{96,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7903d6e60028b48f8f10a65ebd1aa584:b1e52d68288c18f5ccfa53ff019c24ff:d8d56c89fe18591afe6d23597f08fc13$</string>
            <key>textureFileName</key>
            <string>walking.png</string>
        </dict>
    </dict>
</plist>
