<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>walkright4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walkright.png</string>
            <key>size</key>
            <string>{150,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281262a4de7f29ee940bcc0a65b5da5e:1704db292764e1cfa3287105068429f4:4047996f2739b4d2d3068def118e758e$</string>
            <key>textureFileName</key>
            <string>walkright.png</string>
        </dict>
    </dict>
</plist>
